CompileFlags:
  Add:
    - -xc++
    - -std=c++17
    - --target=x86_64-pc-windows-msvc
    - -fms-compatibility
    - -fms-extensions
    - -fdelayed-template-parsing
    - -IC:/IT/cursor_projects/ECS_World/include
    # Должен совпадать с корнем SFML (рядом с SFML_DIR в CMakeLists.txt)
    - -IC:/IT/cursor_projects/SFML-2.6.2/include

Diagnostics:
  Suppress:
    - drv_invalid_arg_with_suggestion
