CompileFlags:
  Add:
    - -xc++
    - -std=c++17
    - --target=x86_64-pc-windows-msvc
    - -fms-compatibility
    - -fms-extensions
    - -fdelayed-template-parsing
    - -IC:/IT/cursor_projects/ECS_Game/include

Diagnostics:
  Suppress:
    - drv_invalid_arg_with_suggestion
